In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import sqlite3

# CAPSTONE ETL PIPELINE
# Extract  → Transform → Load using PySpark

def etl_process(csv_file, db_file, table_name):

    """
    Capstone ETL Function
    ---------------------
    Extracts employee data from a CSV file, transforms it using PySpark,
    and loads the final dataset into a SQLite database.
    """


    # 1. SPARK SESSION INITIALIZATION

    # SparkSession is the main entry point for PySpark
    spark = SparkSession.builder \
        .appName("Week8_Capstone_ETL_Project") \
        .getOrCreate()

    try:

        # 2. EXTRACT

        # Load CSV data into a Spark DataFrame
        # inferSchema automatically detects column data types
        df = spark.read.csv(csv_file, header=True, inferSchema=True)

        print("=== Extracted Raw Data ===")
        df.show()


        # 3. TRANSFORM

        # Step 1: Remove records with missing values
        # This improves data quality and reliability
        cleaned_df = df.dropna()

        print("=== After Removing Null Values ===")
        cleaned_df.show()

        # Step 2: Rename columns for standard naming conventions
        transformed_df = cleaned_df \
            .withColumnRenamed("Name", "Employee Name") \
            .withColumnRenamed("Salary($)", "Salary")

        print("=== After Renaming Columns ===")
        transformed_df.show()

        # Step 3: Drop unnecessary or sensitive columns
        transformed_df = transformed_df.drop(
            "Email ID", "Joining Date", "Phone No"
        )

        print("=== After Dropping Unnecessary Columns ===")
        transformed_df.show()

        # Step 4: Add derived column using business logic
        # Calculate 10% salary hike for each employee
        transformed_df = transformed_df.withColumn(
            "Salary Hike",
            col("Salary") * 0.10
        )

        print("=== After Adding Salary Hike Column ===")
        transformed_df.show()


        # 4. LOAD

        # Convert Spark DataFrame to Pandas DataFrame
        # SQLite does not support direct Spark writes efficiently
        final_df = transformed_df.toPandas()

        # Connect to SQLite database
        conn = sqlite3.connect(db_file)

        # Load data into SQLite table
        final_df.to_sql(
            table_name,
            conn,
            if_exists="replace",
            index=False
        )

        conn.close()

        print(
            f"Data successfully loaded into database '{db_file}' "
            f"inside table '{table_name}'"
        )

        return final_df

    except Exception as e:
        print(f"Capstone ETL Pipeline Failed: {e}")
        raise

    finally:

        # 5. SPARK SESSION TERMINATION

        # Always stop Spark session after job completion
        spark.stop()

In [5]:

# CAPSTONE PIPELINE EXECUTION

if __name__ == "__main__":
    etl_process(
        csv_file="EmployeeData copy.csv",
        db_file="EmployeeData.db",
        table_name="EmployeeData"
    )

=== Extracted Raw Data ===
+---+------+---------------+----------+---------+------------+--------------------+----------+
|_c0|Emp ID|       FullName|      Dept|Salary($)|Joining Date|            Email ID|  Phone No|
+---+------+---------------+----------+---------+------------+--------------------+----------+
|  0|   101|   Alex Johnson|     Admin|  47508.0|  2017-01-27|alex.johnson@work...|9475287752|
|  1|   102|    Liam Wilson|        IT|     NULL|  2024-08-12|                NULL|9744732697|
|  2|   103|  Olivia Martin| Marketing|     NULL|  2021-02-08|olivia.martin@exa...|      NULL|
|  3|   104|  Olivia Martin|        IT|  75115.0|  2016-06-10|                NULL|      NULL|
|  4|   105|    Mason Young|     Admin|  83571.0|  2019-07-03|                NULL|9469220313|
|  5|   106| Benjamin Adams|   Finance|     NULL|  2023-09-28|benjamin.adams@wo...|      NULL|
|  6|   107|   Sophia Davis|        IT|  67812.0|  2022-05-15|                NULL|9242110844|
|  7|   108|   Rajesh Kumar|     Sales|  73524.0|  2019-02-01|rajesh.kumar@comp...|9994378247|
|  8|   109|   Amelia Scott| Marketing|  88624.0|  2018-08-23|amelia.scott@exam...|      NULL|
|  9|   110|    Emily Brown|     Admin|  94815.0|  2021-12-04|                NULL|      NULL|
| 10|   111|    Noah Walker|   Finance|  58519.0|  2019-09-13|noah.walker@compa...|9926731527|
| 11|   112|  Isabella Hall|Operations|     NULL|  2020-01-05|                NULL|9726481992|
| 12|   113|  Ava Rodriguez|     Sales|  47288.0|  2018-04-20|ava.rodriguez@wor...|9608253749|
| 13|   114|    Jacob Allen|   Finance|  81023.0|  2015-09-12|jacob.allen@examp...|      NULL|
| 14|   115|    Ethan Clark|        HR|     NULL|  2020-06-14|                NULL|9865710428|
| 15|   116|       Mia King|        IT|  74826.0|  2023-05-19|mia.king@company.org|      NULL|
| 16|   117|   Lucas Wright|Operations|     NULL|  2019-02-22|                NULL|9264185710|
| 17|   118|     John Smith|     Admin|  58937.0|  2024-04-11|john.smith@workpl...|      NULL|
| 18|   119|   Amelia Scott| Marketing|  85174.0|  2017-09-17|amelia.scott@work...|9224158799|
| 19|   120|Charlotte Baker|     Sales|     NULL|  2016-03-06|                NULL|      NULL|
+---+------+---------------+----------+---------+------------+--------------------+----------+
only showing top 20 rows
=== After Removing Null Values ===
+---+------+--------------+----------+---------+------------+--------------------+----------+
|_c0|Emp ID|      FullName|      Dept|Salary($)|Joining Date|            Email ID|  Phone No|
+---+------+--------------+----------+---------+------------+--------------------+----------+
|  0|   101|  Alex Johnson|     Admin|  47508.0|  2017-01-27|alex.johnson@work...|9475287752|
|  7|   108|  Rajesh Kumar|     Sales|  73524.0|  2019-02-01|rajesh.kumar@comp...|9994378247|
| 10|   111|   Noah Walker|   Finance|  58519.0|  2019-09-13|noah.walker@compa...|9926731527|
| 12|   113| Ava Rodriguez|     Sales|  47288.0|  2018-04-20|ava.rodriguez@wor...|9608253749|
| 18|   119|  Amelia Scott| Marketing|  85174.0|  2017-09-17|amelia.scott@work...|9224158799|
| 20|   121|Benjamin Adams|   Finance|  68974.0|  2020-07-15|benjamin.adams@co...|9671548392|
| 22|   123|   Emily Brown|     Admin|  74185.0|  2016-11-21|emily.brown@examp...|9993267785|
| 24|   125|     David Lee|        IT|  62509.0|  2015-07-17|david.lee@company...|9134776210|
| 28|   129|    John Smith|Operations|  69314.0|  2024-01-18|john.smith@exampl...|9873305512|
| 36|   137|      Mia King|   Finance|  70544.0|  2019-05-13|mia.king@example.com|9478102394|
+---+------+--------------+----------+---------+------------+--------------------+----------+

=== After Renaming Columns ===
+---+------+--------------+----------+-------+------------+--------------------+----------+
|_c0|Emp ID|      FullName|      Dept| Salary|Joining Date|            Email ID|  Phone No|
+---+------+--------------+----------+-------+------------+--------------------+----------+
|  0|   101|  Alex Johnson|     Admin|47508.0|  2017-01-27|alex.johnson@work...|9475287752|
|  7|   108|  Rajesh Kumar|     Sales|73524.0|  2019-02-01|rajesh.kumar@comp...|9994378247|
| 10|   111|   Noah Walker|   Finance|58519.0|  2019-09-13|noah.walker@compa...|9926731527|
| 12|   113| Ava Rodriguez|     Sales|47288.0|  2018-04-20|ava.rodriguez@wor...|9608253749|
| 18|   119|  Amelia Scott| Marketing|85174.0|  2017-09-17|amelia.scott@work...|9224158799|
| 20|   121|Benjamin Adams|   Finance|68974.0|  2020-07-15|benjamin.adams@co...|9671548392|
| 22|   123|   Emily Brown|     Admin|74185.0|  2016-11-21|emily.brown@examp...|9993267785|
| 24|   125|     David Lee|        IT|62509.0|  2015-07-17|david.lee@company...|9134776210|
| 28|   129|    John Smith|Operations|69314.0|  2024-01-18|john.smith@exampl...|9873305512|
| 36|   137|      Mia King|   Finance|70544.0|  2019-05-13|mia.king@example.com|9478102394|
+---+------+--------------+----------+-------+------------+--------------------+----------+

=== After Dropping Unnecessary Columns ===
+---+------+--------------+----------+-------+
|_c0|Emp ID|      FullName|      Dept| Salary|
+---+------+--------------+----------+-------+
|  0|   101|  Alex Johnson|     Admin|47508.0|
|  7|   108|  Rajesh Kumar|     Sales|73524.0|
| 10|   111|   Noah Walker|   Finance|58519.0|
| 12|   113| Ava Rodriguez|     Sales|47288.0|
| 18|   119|  Amelia Scott| Marketing|85174.0|
| 20|   121|Benjamin Adams|   Finance|68974.0|
| 22|   123|   Emily Brown|     Admin|74185.0|
| 24|   125|     David Lee|        IT|62509.0|
| 28|   129|    John Smith|Operations|69314.0|
| 36|   137|      Mia King|   Finance|70544.0|
+---+------+--------------+----------+-------+

=== After Adding Salary Hike Column ===
+---+------+--------------+----------+-------+-----------------+
|_c0|Emp ID|      FullName|      Dept| Salary|      Salary Hike|
+---+------+--------------+----------+-------+-----------------+
|  0|   101|  Alex Johnson|     Admin|47508.0|           4750.8|
|  7|   108|  Rajesh Kumar|     Sales|73524.0|7352.400000000001|
| 10|   111|   Noah Walker|   Finance|58519.0|5851.900000000001|
| 12|   113| Ava Rodriguez|     Sales|47288.0|           4728.8|
| 18|   119|  Amelia Scott| Marketing|85174.0|           8517.4|
| 20|   121|Benjamin Adams|   Finance|68974.0|6897.400000000001|
| 22|   123|   Emily Brown|     Admin|74185.0|           7418.5|
| 24|   125|     David Lee|        IT|62509.0|6250.900000000001|
| 28|   129|    John Smith|Operations|69314.0|6931.400000000001|
| 36|   137|      Mia King|   Finance|70544.0|7054.400000000001|
+---+------+--------------+----------+-------+-----------------+

Data successfully loaded into database 'EmployeeData.db' inside table 'EmployeeData'